/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.12.2017, 13:44:00
    Author     : drpuzzle
*/

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    /*-fx-body-color: yellow;*/    
    -fx-padding: 0 4 0  4;
}

/* Spinner - STYLE_CLASS_ARROWS_ON_RIGHT_HORIZONTAL */
.spinner.arrows-on-right-horizontal .increment-arrow-button {
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
    -fx-background-insets: 0 0 0 -1, 1 1 1 0, 2 2 2 1;
    -fx-body-color: green;
}
.spinner.arrows-on-right-horizontal .decrement-arrow-button {
    -fx-background-radius: 0;
    -fx-background-insets: 0, 1, 2;
}

/*.red {
    -fx-fill: red;
    -fx-font-size:11;
    -fx-font-family: FreeMono2;    
}

.green {
    -fx-fill: green;
    -fx-font-size:11;
    -fx-font-family: FreeMono2;    
}*/

.tx_port2 {
    -fx-fill: orange;
    -fx-font-size:11;
    -fx-font-family: FreeMono2;    
}

.rx_port2 {
    -fx-fill: blue;
    -fx-font-size:11;
    -fx-font-family: FreeMono2;    
}


.tx_port1 {
    -fx-fill: red;
    -fx-font-size:11;
    -fx-font-family: FreeMono2;    
}

.rx_port1 {
    -fx-fill: green;
    -fx-font-size:11;
    -fx-font-family: FreeMono2;    
}



.blue {
    -fx-fill: blue;
}

.bold {
    -fx-font-weight: bold;
}

#menuStyle{
    /*-fx-background-color: transparent;*/
    -fx-background-color: -fx-shadow-highlight-color,-fx-outer-border, -fx-inner-border, -fx-body-color;
    /*-fx-background-insets: 0;*/
    /*-fx-background-insets:  0, 0, 1, 2;*/
    -fx-padding: 0 0 0 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    /*-fx-background-insets: 0 0 -1 0, 0;*/
}
#menuStyle .arrow,
#menuStyle .arrow-button{
    -fx-background-color: transparent;
    -fx-padding: 0;  
}


/* this part is from  default stiles fxrt.jar!/com/sun/javafx/scene/control/skin/caspian/caspian.css */
#menuStyle:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#menuStyle  .label {
  -fx-alignment: CENTER;
  -fx-padding: 0 0 0 0;
}

#menuStyle:showing > .arrow-button {
    -fx-color: -fx-pressed-base;
}

/*#menuStyle > .arrow-button {
    -fx-background-color: green;
}*/

#menuStyle:hover > .arrow-button{
    -fx-padding: 2 3 2 3;  
}

#menuStyle:hover > .arrow-button > .arrow{
    /*-fx-background-insets: 1 0 -1 0, 0;*/
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    /*-fx-background-color: green;*/
    /*-fx-padding: 0.166667em 0.166667em 0.166667em 0.166667em;*/  
    -fx-padding: 2 3 2 3;  
    
    /*-fx-shape: "M 0 -3.5 v 7 l 4 -3.5 z";*/
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}
